name = "cloudflare-worker-api"
main = "./dist/index.mjs"
compatibility_date = "2023-09-04"
workers_dev = true

[dev]
ip = "localhost"
port = 3000
local_protocol = "http"

[vars]
ENV = "development"
DATABASE_URL = "prisma://your-data-proxy-url/?api_key=custom-token"

[build]
command = "npm run build"